{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }} {% endblock %}

{% block content %}
  <article class="container">
      <div class="col-sm-12 text-center">
        <h5>{{ name }}</h5> 
        <h6>{{ established }}</h6>
        <hr>
      </div>
    <div class="row">
       <div class="col-sm-5">
        <img src="../img/landmarks/{{ image }}" alt="landmark image" class="img-fluid">
        <p>{{ location }}</p>
        <p>{{ activities }}</p>
        <a class="lmsite"href="{{ url }}" target="_blank">Visit Site</a>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-7">
        <h6>{{ description | safe }}</h6>
      </div>
    </div>
  </article>
{% endblock %}
